# Dependencies
node_modules/

# Production build
dist/
dist-ssr/

# Local environment variables
.env
.env.*
!.env.example

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor settings
.vscode/*
!.vscode/extensions.json
.idea/

# Operating system files
.DS_Store
Thumbs.db

# Temporary files
*.local
*.temp
*.tmp

# Vercel local settings
.vercel/